<h1 style="text-align: center;">AIgatha</h1>
<h2 style="text-align: center;"><i>create and solve detective puzzle games using AI</i><h2>
<br>

<h4>Customize your game</h4>
  <div class="mb-3">
    <form action="/insert_game" method="post">
      <div>
      <label for="title" class="form-label">Title:</label>
      <input id="title" class="form-control" name="query_title">
      <br>
      </div>

      <div>
      <label for="setting" class="form-label">Choose your setting:</label>
      <select id="setting" name="query_setting" class="form-select">
        <option value="old mansion">old mansion</option>
        <option value="spaceship">spaceship</option>
        <option value="art museum">art museum</option>
        <option value="random">random</option>
      </select>
      <br>
      </div>

      <div>
      <label for="difficulty" class="form-label">Choose your difficulty:</label>
      <select id="difficulty" name="query_difficulty" class="form-select">
        <option value="easy">easy</option>
        <option value="medium">medium</option>
        <option value="hard">hard</option>
      </select>
      <br>
      </div>
      <input type="submit" value="Investigate!" type="button" class="btn btn-primary">
    </form>
  </div>

<hr class="border border-primary border-3 opacity-75">
<div>
  <h4>My games</h4>
  <div>
    <table class="table">
      <thead>
      <tr>

        <th scope="col">
          Title
        </th>

        <th scope="col">
          Setting
        </th>

        <th scope="col">
          Difficulty
        </th>

        <th scope="col">
          Created at
        </th>

        <th scope="col">
          Number of queries
        </th>

        <th scope="col">
        </th>
      </tr>
      </thead>

      <tbody>
      <% @list_of_games.each do |a_game| %>
      <tr>

        <td>
          <%= a_game.title %>
        </td>

        <td>
          <%= a_game.setting %>
        </td>

        <td>
          <%= a_game.difficulty %>
        </td>

        <td>
          <%= time_ago_in_words(a_game.created_at) %> ago
        </td>

        <td>
          <%= Post.where(:game_id => a_game.id).where(:gpt_created => false).count - 2 %>
        </td>

        <td>
          <a href="/games/<%= a_game.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
