<div>
  <div>
    <h1>
      Game #<%= @the_game.id %> details
    </h1>

    <div>
      <div>
        <a href="/games">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_game/<%= @the_game.id %>">
          Delete game
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Author
      </dt>
      <dd>
        <%= @the_game.author_id %>
      </dd>

      <dt>
        Title
      </dt>
      <dd>
        <%= @the_game.title %>
      </dd>

      <dt>
        Setting
      </dt>
      <dd>
        <%= @the_game.setting %>
      </dd>

      <dt>
        Difficulty
      </dt>
      <dd>
        <%= @the_game.difficulty %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_game.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_game.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<div><b> Narrator:[Some detective prompt]</b></div>

  <form action="/submit_form" method="post">
    <div>
    <label for="question_one">Do you want to examine a place or interrogate a suspect?</label>
    <select id="question_one" name="action">
      <option value="examine">Examine!</option>
      <option value="interrogate">Interrogate!</option>
    </select>
    <input type="submit" value="select">
    </div>
    </form>

    <%=@selected_option%>
