<!-- Trying to scroll the page down when we add a comment. Unfortunately, works only when I update the page -->
  <script>
    window.onload = function() {
      window.scrollTo(0, document.body.scrollHeight);
    };
  </script>

<div>
  <div>
    <h1>
      <%= @the_game.title %>
    </h1>

    <div>
      <div>
        <a href="/games">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_game/<%= @the_game.id %>">
          Delete game
        </a>
      </div>
    </div>

    <dl>

      <dt>
        Title
      </dt>
      <dd>
        <%= @the_game.title %>
      </dd>

      <dt>
        Setting
      </dt>
      <dd>
        <%= @the_game.setting %>
      </dd>

      <dt>
        Difficulty
      </dt>
      <dd>
        <%= @the_game.difficulty %>
      </dd>

    </dl>
  </div>
</div>

<hr class="border border-primary border-3 opacity-50">

<div>
  <dl>
      <% @list_of_posts.each do |a_post| %>
        <div>
          <dt>
          <% if a_post.gpt_created==true %>
            Narrator:
          <% else %>
            <%= User.where(:id => @the_game.author_id).first.username %>
          <% end %>
          </dt>
        </div>

        <div>
          <dd>
          <%= a_post.body %>
          </dd>
        </div>
        <br><hr>
      <% end %>

  </dl>
</div>

<% last_post = Post.all.where(:game_id => @the_game.id).order({ :created_at => :asc }).last %>
<% if last_post.body.end_with?("please come again for new great games!") == false %>
  <div>
    <div>
      <h3>
        What would you like to investigate?
      </h3>

      <form action="/<%= @the_game.id %>/insert_post" method="post">

        <div>
          <label for="body_box">
          </label>

          <textarea class="form-control" id="body_box" name="query_body" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">
          Go!
        </button>
      </form>
    </div>
  </div>
<% elsif last_post.body.end_with?("This case is solved; please come again for new great games!") == true %>
  <% @the_game.status = "solved" %>
  <% @the_game.number_of_queries = Post.where(:game_id => @the_game.id).where(:gpt_created => false).count - 2 %>
  <% @the_game.save %>
  <div>
    This case is solved in <%= @the_game.number_of_queries %> queries.<br><a href="/">Start a new game</a>
  </div>
<% else %>
  <% @the_game.status = "failed" %>
  <% @the_game.save %>
  <div>
    Game over. Better luck next time!<br><a href="/">Start a new game</a>
  </div>
<% end %>
<hr>
