<div>
  <div>
    <h1>
      Game #<%= @the_game.id %> details
    </h1>

    <div>
      <div>
        <a href="/games">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_game/<%= @the_game.id %>">
          Delete game
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Author
      </dt>
      <dd>
        <%= @the_game.author_id %>
      </dd>

      <dt>
        Title
      </dt>
      <dd>
        <%= @the_game.title %>
      </dd>

      <dt>
        Setting
      </dt>
      <dd>
        <%= @the_game.setting %>
      </dd>

      <dt>
        Difficulty
      </dt>
      <dd>
        <%= @the_game.difficulty %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_game.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_game.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit game
    </h2>

    <form action="/modify_game/<%= @the_game.id %>"  method="post" >
      <div>
        <label for="author_id_box">
          Author
        </label>

        <input type="text" id="author_id_box" name="query_author_id" value="<%= @the_game.author_id %>">
      </div>

      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_game.title %>">
      </div>

      <div>
        <label for="setting_box">
          Setting
        </label>

        <input type="text" id="setting_box" name="query_setting" value="<%= @the_game.setting %>">
      </div>

      <div>
        <label for="difficulty_box">
          Difficulty
        </label>

        <input type="text" id="difficulty_box" name="query_difficulty" value="<%= @the_game.difficulty %>">
      </div>

      <button>
        Update game
      </button>
    </form>
  </div>
</div>

<hr>
