<div>
  <div>
    <h1>
      Game #<%= @the_game.id %> details
    </h1>

    <div>
      <div>
        <a href="/games">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_game/<%= @the_game.id %>">
          Delete game
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Author
      </dt>
      <dd>
        <%= @the_game.author_id %>
      </dd>

      <dt>
        Title
      </dt>
      <dd>
        <%= @the_game.title %>
      </dd>

      <dt>
        Setting
      </dt>
      <dd>
        <%= @the_game.setting %>
      </dd>

      <dt>
        Difficulty
      </dt>
      <dd>
        <%= @the_game.difficulty %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_game.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_game.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>



<div>
  <div>
  <dl>
      <% @list_of_posts.each do |a_post| %>
        <div>
          <dt>
          <% if a_post.gpt_created==true %>
            Narrator:
          <% else %>
            <%= User.where(:id => @the_game.author_id).first.username %>
          <% end %>
          </dt>
        </div>

        <div>
          <dd>
          <%= a_post.body %>
          </dd>
        </div>
        <br><hr>
      <% end %>
  </dl>
  </div>
</div>


<div>
  <div>
    <h3>
      What place do you want to examine or whom do you want to interrogate?
    </h3>

    <form action="/<%= @the_game.id %>/insert_post" method="post">

      <div>
        <input type="checkbox" id="gpt_created_box" name="query_gpt_created" value="1">

        <label for="gpt_created_box">Gpt created</label>
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body" rows="3"></textarea>
      </div>

      <button>
        Create post
      </button>
    </form>
  </div>
</div>

<hr>
