<!DOCTYPE html>
<html>
  <head>
    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Connect Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AIgatha</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container py-5">
      <nav>
        <a href="/">Games</a>
        <% if current_user.present? %>
          <a href="/users/edit">Edit profile</a>

          <a href="/users/sign_out">Sign out</a>
        <% else %>
          <a href="/users/sign_up">Sign up</a>
          
          <a href="/users/sign_in">Sign in</a>
        <% end %>
      </nav>

    <hr>
    <%= yield %>
    </div>
  </body>
</html>
